<h2> Create user --create user command </ h2>

Use the "create user" command to create a user.

<pre>
create user username;
</ pre>

This is a sample to create a user with the "create user" command.

<pre>
create user kimoto;
</ pre>

<h3> How to set password, database and table permissions for user? </ H3>

Use the grant command to set passwords and database and table permissions for users.

<a href="/blog/20200522082643.html"> Password setting, database and table permission setting --grant command </a>