<h2> Change field definition --alter table change column statement </ h2>

Use the "alter table change column statement" to change the field definition.

<pre>
alter table table name change column field name to be changed field name after change field definition
</ pre>

Field definitions can specify data types, NULL constraints, default values, and so on.

This is a sample of "alter table change column statement".

<pre>
alter table book change column author author varchar (150) not null defatul'';
</ pre>

<h3> Is it possible to change only the field name with the alter table change column statement? </ h3>

You cannot change just the field names in MariaDB. Even if you only change the field name, you still need to write the field definition.

<h3> "alter table change column statement" is slow when there are many rows </ h3>

It is unavoidable that the "alter table change column statement" is slow when there are many rows.

MariaDB will create a temporary table, copy it to it, and change the field definition so that it doesn't affect the current process, so wait.

This can happen, so it's a good idea to have a good database table design if you know that the amount of data is small or large from the beginning.