<h2> Delete index </h2>

To drop the index, use the "alter table ~ drop index" command.

<pre>
alter table table name drop index index name;
</pre>

This is a sample to delete the index of book_author_id of book table.

<pre>
alter table book drop index book_author_id;
</pre>

Please refer to the following articles to check if the index has been deleted.

<ul>
   <li> <a href="/blog/20200203093958.html"> Check the index</a> </li>
</ul>

If you want to create an index, please refer to the following articles.

<ul>
   <li> <a href="/blog/20200207093958.html"> Create an index</a> </li>
</ul>