<h2> Check the index </ h2>

Use the "show create table" command to see the index.

<pre>
# Check index
show create table book;
</ pre>

You can see the index definition in the row named "KEY".

<pre>
KEY `book_author_id` (`author_id`)
</ pre>

If you want to create an index, please refer to the following articles.

<ul>
   <li> <a href="/blog/20200207093958.html"> Create an index </a> </ li>
</ ul>

If you want to delete the index, please refer to the following article.

<ul>
   <li> <a href="/blog/20200204093958.html"> Delete index </a> </ li>
</ ul>