<h2> Change the database engine </ h2>

To change the database engine, use the "alter table table name engine = engine name" syntax.

<pre>
alter table table name engine = engine name;
</ pre>

Here is an example of changing the book table to the InnoDB engine.

<pre>
alter table book engine = InnoDB;
</ pre>

Here is an example of changing the author table to the MyISAM engine.

<pre>
alter table author engine = MyISAM;
</ pre>

<h3> Check the type of database engine </ h3>

If you want to check the type of database engine, please refer to the following articles.

<ul>
   <li> <a href="/blog/20200131110010.html"> Check the type of database engine </a> </ li>
</ ul>