<h2> Remove foreign key constraint </ h2>

To remove the foreign key constraint, run the "alter table drop foreign key" command.

<pre>
alter table table name drop foreign key foreign key constraint name
</ pre>

This is a sample to remove the foreign key constraint called book_ibfk_1 in the book table.

<pre>
alter table book drop foreign key book_ibfk_1
</ pre>

If you want to see what foreign key constraints are set, please refer to the following articles.

<ul>
   <li> <a href="/blog/20200205123437.html"> Check foreign key constraints </a> </ li>
</ ul>