<h2> Read CSV file data into table </h2>

Use "load data local in file" to load the CSV file data into the table. Specify "," as the delimiter and "" "in the character string enclosure.

<pre>
load data local infile'/tmp/book.csv'
  into table book fields terminated by','
  optionally enclosed by'"';
</pre>

If the CSV column order and the field order are different, it cannot be read correctly.

To make each column in the CSV file correspond to a field:

<pre>
load data local infile'/tmp/book.csv'
  into table book fields terminated by','
  optionally enclosed by'"'
(id, price, name, author_id);
</pre>

If you want to skip the column, use an appropriate variable name.

<pre>
load data local infile'/tmp/book.csv'
  into table book fields terminated by','
  optionally enclosed by'"'
(id, price, @tmp1, name, author_id);
</pre>

<h3> Output the contents of the table as CSV </h3>

The method of outputting the contents of the table as CSV is explained below.

<ul>
  <li> <a href="/blog/20201015115811.html"> Output the contents of the table as CSV</a> </li>
</ul>